#![enable(implicit_some)]
Config(
  modkey: "Mod4",
  mousekey: "Mod4",
  workspaces: [
    (
      output: "eDP-1-1",
      x: 0,
      y: 0,
      width: 1920,
      height: 1080,
    ),
    (
      output: "HDMI-0",
      x: 1920,
      y: 0,
      width: 1920,
      height: 1080,
    ),
  ],
  tags: [
    "1", 
    "2", 
    "3", 
    "4", 
    "5", 
    "6", 
    "hp-1", 
    "hp-2", 
    "hp-3"
  ],
  layouts: [
    MainAndVertStack, 
    MainAndHorizontalStack, 
    MainAndDeck, 
    GridHorizontal, 
    EvenHorizontal, 
    EvenVertical, 
    Fibonacci, 
    LeftMain, 
    CenterMain, 
    CenterMainBalanced, 
    CenterMainFluid, 
    Monocle, 
    RightWiderLeftStack, 
    LeftWiderRightStack
  ],
  layout_mode: Tag,
  insert_behavior: Top,
  scratchpad: [],
  window_rules: [],
  disable_current_tag_swap: true,
  disable_tile_drag: false,
  focus_behaviour: Sloppy,
  focus_new_windows: true,

  keybind: [
    ( command: SetLayout, value: "MainAndVertStack", modifier: ["modkey", "Shift"], key: "space"),
    ( command: Execute, value: "setxkbmap -layout us -variant altgr-intl", modifier: ["Control", "Shift"], key: "1" ),
    ( command: Execute, value: "setxkbmap -layout ru", modifier: ["Control", "Shift"], key: "2" ),
    ( command: ToggleFullScreen, modifier: [], key: "F11" ),
    ( command: Execute, value: "synclient TouchpadOff=1", modifier: [], key: "XF86XK_TouchpadToggle" ),
    ( command: Execute, value: "lux -s 10%", modifier: [], key: "XF86XK_MonBrightnessDown" ),
    ( command: Execute, value: "lux -a 10%", modifier: [], key: "XF86XK_MonBrightnessUp" ),
    ( command: Execute, value: "amixer set Master toggle", modifier: [], key: "XF86XK_AudioMute" ),
    ( command: Execute, value: "amixer set Master 5%+ unmute", modifier: [], key: "XF86XK_AudioRaiseVolume" ),
    ( command: Execute, value: "amixer set Master 5%- unmute", modifier: [], key: "XF86XK_AudioLowerVolume" ),
    ( command: Execute, value: "scrot ~/Pictures/%Y-%m-%d_$wx$h.jpeg", modifier: [], key: "Print" ),
    ( command: Execute, value: "scrot ~/Pictures/%Y-%m-%d_$wx$h.jpeg -s", modifier: ["modkey"], key: "Print" ),
    ( command: Execute, value: "google-chrome-stable", modifier: ["modkey"], key: "b" ),
    ( command: Execute, value: "nemo", modifier: ["modkey"], key: "e" ),
    ( command: Execute, value: "~/.config/leftwm/themes/eduinlight-theme/rofi/launcher.sh", modifier: ["modkey", "Shift"], key: "Return" ),
    ( command: Execute, value: "alacritty", modifier: ["modkey"], key: "Return" ),
    ( command: CloseWindow, value: "", modifier: ["modkey", "Shift"], key: "q" ),
    ( command: SoftReload, value: "", modifier: ["modkey", "Shift"], key: "r" ),
    ( command: HardReload, value: "", modifier: ["modkey", "Shift", "Control"], key: "r" ),
    ( command: Execute, value: "loginctl kill-session $XDG_SESSION_ID", modifier: ["modkey", "Shift"], key: "x" ),
    ( command: SwapTags, value: "", modifier: ["modkey"], key: "w" ),
    ( command: MoveWindowTop, value: "", modifier: ["modkey"], key: "space" ),
    ( command: MoveWindowUp, value: "", modifier: ["modkey", "Shift"], key: "k" ),
    ( command: MoveWindowUp, value: "", modifier: ["modkey", "Shift"], key: "Up" ),
    ( command: MoveWindowDown, value: "", modifier: ["modkey", "Shift"], key: "j" ),
    ( command: MoveWindowDown, value: "", modifier: ["modkey", "Shift"], key: "Down" ),
    ( command: FocusWindowUp, value: "", modifier: ["modkey"], key: "k" ),
    ( command: FocusWindowUp, value: "", modifier: ["modkey"], key: "Up" ),
    ( command: FocusWindowDown, value: "", modifier: ["modkey"], key: "j" ),
    ( command: FocusWindowDown, value: "", modifier: ["modkey"], key: "Down" ),
    ( command: NextLayout, value: "", modifier: ["modkey", "Control"], key: "k" ),
    ( command: PreviousLayout, value: "", modifier: ["modkey", "Control"], key: "j" ),
    ( command: MoveToLastWorkspace, value: "", modifier: ["modkey", "Shift"], key: "w" ),
    ( command: FocusWorkspaceNext, value: "", modifier: ["modkey"], key: "l" ),
    ( command: MoveWindowToPreviousWorkspace, value: "", modifier: ["modkey", "Shift"], key: "l" ),
    ( command: FocusWorkspacePrevious, value: "", modifier: ["modkey"], key: "h" ),
    ( command: MoveWindowToNextWorkspace, value: "", modifier: ["modkey", "Shift"], key: "h" ),
    ( command: GotoTag, value: "1", modifier: ["modkey"], key: "1" ),
    ( command: GotoTag, value: "2", modifier: ["modkey"], key: "2" ),
    ( command: GotoTag, value: "3", modifier: ["modkey"], key: "3" ),
    ( command: GotoTag, value: "4", modifier: ["modkey"], key: "4" ),
    ( command: GotoTag, value: "5", modifier: ["modkey"], key: "5" ),
    ( command: GotoTag, value: "6", modifier: ["modkey"], key: "6" ),
    ( command: GotoTag, value: "7", modifier: ["modkey"], key: "7" ),
    ( command: GotoTag, value: "8", modifier: ["modkey"], key: "8" ),
    ( command: GotoTag, value: "9", modifier: ["modkey"], key: "9" ),
    ( command: MoveToTag, value: "1", modifier: ["modkey", "Shift"], key: "1" ),
    ( command: MoveToTag, value: "2", modifier: ["modkey", "Shift"], key: "2" ),
    ( command: MoveToTag, value: "3", modifier: ["modkey", "Shift"], key: "3" ),
    ( command: MoveToTag, value: "4", modifier: ["modkey", "Shift"], key: "4" ),
    ( command: MoveToTag, value: "5", modifier: ["modkey", "Shift"], key: "5" ),
    ( command: MoveToTag, value: "6", modifier: ["modkey", "Shift"], key: "6" ),
    ( command: MoveToTag, value: "7", modifier: ["modkey", "Shift"], key: "7" ),
    ( command: MoveToTag, value: "8", modifier: ["modkey", "Shift"], key: "8" ),
    ( command: MoveToTag, value: "9", modifier: ["modkey", "Shift"], key: "9" ),
  ]
)
